@tailwind base;
@tailwind components;
@tailwind utilities;

.la-p {
  margin-right: 0px
}

.col-container {
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
}

.col-dev{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

.col-filter-con{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: min-content;
  min-width: 256px;
  margin-right: 16px;
}

.col-hv{
  width: 100%
}

.col-fi{
  width: 100%;
  display: flex;
  flex-direction:column;
  max-width: 256px;
  margin-bottom: 16px;
}

.col-pl-con{
  display: flex;
  flex-direction: column;
  max-width: 1088px;
}

.pl-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.master-con{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 700px) {
  .col-container{
    flex-direction: row;
  }
  .col-filter-con{
    width:256px
  }
  .col-pl-con{
    display: flex;
    align-items: flex-start;
  }
  .pl-box{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .la-p{
    margin-right: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .col-container{
    max-width: 1440px;
  }
}